<p>Añadir comentario: </p>

<form method="post" action="/quizes/<%=quizid%>/comments/">
	<textarea type="text" id="comment" name="comment[texto]" rows="10" cols="40" value=""></textarea>
	<button type="submit">Enviar</button>
</form>