<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Preguntas</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/wide.css" type="text/css" media='only screen and (min-width:530px) and (min-device-width: 481px)'>
	<link rel="stylesheet" href="/stylesheets/smartphone.css" type="text/css" media="only screen and (max-width: 480px)">
	<link type="image/x-icon" href="/images/favicon2.ico" rel="icon">
</head>
<body>
	<div id="page-wrap">
		<header class="main" id="h1">
		<%if(!session.user){%>
			<span style="float:right"><a href="/login">Login</a></span>
			<span style="color:red"><%=locals.aviso%></span>
		<%}else{%>
			<span style="float:right"><%=session.user.username %><a style="padding-left:2px"href="/logout">Logout</a></span>
		<%}%>
			<h2>Quiz<span>: El Juego de las Preguntas</span></h2>
		</header>
		<nav class="main" id="n1" role="navigation">
			<span><a href="/">Inicio</a></span>
			<span><a href="/quizes">Preguntas</a></span>
			<span><a href="/author">Créditos</a></span>
		</nav>
		<section class="main" id="s1">
		<% if(errors.length){ %>
			<span id="ErrorMsgs">
				Corregir errores: <br>
				<% for (var i in errors) {%>
					<span><%= errors[i].message %></span><br>
				<% } %>
			</span>
		<% } %>
			<div id="body"><%- body %></div>
		</section>
		<footer class="main" id="s1">
			<a href="http://es.wikipedia.org/wiki/quiz">¿Qué es Quiz?</a>
			<a target="_blank" href="https://github.com/ElCosmonauta/quiz">Proyecto en GitHub</a>
		</footer>	
	</div>
</body>
</html>