<div class="preguntas" style="float:left">
<p>Seleccione la pregunta: </p>
	<table>
	<% var i; 
		for(i=0;i<quizes.length;i++){ %>
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
	</table>
</div>
 <form method="get" action="/quizes">
 <p>Buscar:</p>
 	<input type="text" name="search"/>
	<input type="submit" value="Enviar"/>
 </form>
<p><a href="quizes/new"><button type="button">Crear pregunta</button></a></p>