<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Quiz</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h2>Quiz: El juego de las preguntas</h2>
	<form method="get" action="/quizes/answer">
		<p>Pregunta: <%= pregunta %></p>
		<input type="text" name="respuesta"/>
		<input type="submit" value="Enviar"/>
	</form>
</body>
</html>